@model BackEnd.Models.IndexViewModel;

@section Styles {
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true"/>
}

@{
    ViewData["Title"] = "Home Page";
}

<main class="main-login">
    <section class="section">
      <h1>Inicio de sesion</h1>
        <form asp-action="Login" asp-controller="Home" class="divs-container">
          <div class="div-inputs">
            <input class="input" type="text" asp-for="Login.Username" placeholder="Nombre de usuario" />
            <label asp-for="Login.Username">Nombre</label>
            <span asp-validation-for="Login.Username" class="text-danger"></span>
          </div>
          <div class="div-inputs">
            <input class="input" type="Correo" asp-for="Login.Correo" placeholder="Correo electronico" />
            <label asp-for="Login.Correo">Correo</label>
            <span asp-validation-for="Login.Correo" class="text-danger"></span>
          </div>
          <div class="div-inputs">
            <input class="input" type="password" asp-for="Login.Contrasena" placeholder="Contraseña" />
            <label asp-for="Login.Contrasena">Contraseña</label>
            <span asp-validation-for="Login.Contrasena" class="text-danger"></span>
          </div>
          <button class="button-login" type="submit">Acceder</button>
        </form>
        <div class="parrafo-login">
          <p class="registrate-malo">¿No tienes una cuenta?</p>
          <p class="registrate">Registrate</p>
        </div>
    </section>
    <!--Registro de usuario -->
    <section class="Registro">
      <div class="Registro-inner">
          <div class="salir-register">
            <div class="salir">
              <div class="salir-cruz1"></div>
              <div class="salir-cruz"></div>
            </div>
          </div>
          <h1>Registrate</h1>
          <form asp-controller="Home" asp-action="Index" class="form-registro">
            <div class="contenedor-registros">
              <div class="div-inputs-registro">
                <input class="input-registro" type="text" asp-for="Register.Nombre" placeholder="Nombre" />
                <label asp-for="Register.Nombre">Nombre</label>
                <span asp-validation-for="Register.Nombre" class="text-danger"></span>
              </div>
              <div class="div-inputs-registro">
                <input class="input-registro" type="text" asp-for="Register.Apellido" placeholder="Apellido" />
                <label asp-for="Register.Apellido">Apellido</label>
                <span asp-validation-for="Register.Apellido" class="text-danger"></span>
              </div>
            </div>
            <div class="contenedor-registros">
              <div class="div-inputs-registro">
                <input class="input-registro" type="text" asp-for="Register.Username" placeholder="Nombre de usuario" />
                <label asp-for="Register.Username">Username</label>
                <span asp-validation-for="Register.Username" class="text-danger"></span>
              </div>
              <div class="div-inputs-registro">
                <input class="input-registro" type="email" asp-for="Register.Correo" placeholder="Correo electronico" />
                <label asp-for="Register.Correo">Correo</label>
                <span asp-validation-for="Register.Correo" class="text-danger"></span>
              </div>
            </div>
            <div class="contenedor-registros">
              <div class="div-inputs-registro">
                <input class="input-registro" type="password" asp-for="Register.Contrasena" placeholder="Contraseña">
                <label asp-for="Register.Contrasena">Contraseña</label>
                <span asp-validation-for="Register.Contrasena" class="text-danger"></span>
              </div>
              <div class="div-inputs-registro">
                <input class="input-registro" type="password" asp-for="Register.Repetir" placeholder="Repetir Contraseña" />
                <label asp-for="Register.Repetir">Repetir Contraseña</label>
                <span asp-validation-for="Register.Repetir" class="text-danger"></span>
              </div>
            </div>
            <div class="contenedor-registros">
              <div class="div-inputs-registro">
                <input class="input-registro anio" type="number" asp-for="Register.Anio" placeholder="Año" />
                <label asp-for="Register.Anio">Año</label>
                <span asp-validation-for="Register.Anio" class="text-danger"></span>
              </div>
              <div class="div-inputs-registro">
                <input class="input-registro division" type="number" asp-for="Register.Division" placeholder="Division" />
                <label asp-for="Register.Division">Division</label>
                <span asp-validation-for="Register.Division" class="text-danger"></span>
              </div>
            </div>
            <button class="boton-registro" type="submit">Registrate</button>
          </form>
      </div>
    </section>
  </main>
  <script src="~/js/Login.js"></script>