@model Estudiante;

@section Styles {
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true"/>
}

@{
    ViewData["Title"] = "Home Page";
}

<main class="main-login">
    <section class="section">
      <h1>Inicio de sesion</h1>
        <form class="divs-container">
          <div class="div-inputs">
            <input class="input" type="text" for="Nombre" placeholder="Nombre de usuario" />
            <label for="Nombre">Nombre</label>
          </div>
          <div class="div-inputs">
            <input class="input" type="Correo" for="Correo" placeholder="Correo electronico" />
            <label for="Correo">Correo</label>
          </div>
          <div class="div-inputs">
            <input class="input" type="password" for="Contraseña" placeholder="Contraseña" />
            <label for="Contraseña">Contraseña</label>
          </div>
          <button class="button-login" type="submit">Acceder</button>
        </form>
        <div class="parrafo-login">
          <p class="registrate-malo">¿No tienes una cuenta?</p>
          <p class="registrate">Registrate</p>
        </div>
    </section>
    <!--Registro de usuario -->
    <section class="Registro">
      <div class="Registro-inner">
          <div class="salir-register">
            <div class="salir">
              <div class="salir-cruz1"></div>
              <div class="salir-cruz"></div>
            </div>
          </div>
          <h1>Registrate</h1>
          <form asp-controller="Home" asp-action="Index" class="form-registro">
            <div class="contenedor-registros">
              <div class="div-inputs-registro">
                <input class="input-registro" type="text" asp-for="Nombre" placeholder="Nombre" />
                <label asp-for="Nombre">Nombre</label>
                <span asp-validation-for="Nombre" class="text-danger"></span>
              </div>
              <div class="div-inputs-registro">
                <input class="input-registro" type="text" asp-for="Apellido" placeholder="Apellido" />
                <label asp-for="Apellido">Apellido</label>
                <span asp-validation-for="Apellido" class="text-danger"></span>
              </div>
            </div>
            <div class="contenedor-registros">
              <div class="div-inputs-registro">
                <input class="input-registro" type="text" asp-for="Username" placeholder="Nombre de usuario" />
                <label asp-for="Username">Username</label>
                <span asp-validation-for="Username" class="text-danger"></span>
              </div>
              <div class="div-inputs-registro">
                <input class="input-registro" type="email" asp-for="Correo" placeholder="Correo electronico" />
                <label asp-for="Correo">Correo</label>
                <span asp-validation-for="Correo" class="text-danger"></span>
              </div>
            </div>
            <div class="contenedor-registros">
              <div class="div-inputs-registro">
                <input class="input-registro" type="password" asp-for="Contraseña" placeholder="Contraseña">
                <label asp-for="Contraseña">Contraseña</label>
                <span asp-validation-for="Contraseña" class="text-danger"></span>
              </div>
              <div class="div-inputs-registro">
                <input class="input-registro" type="password" name="repetir" placeholder="Repetir Contraseña" />
                <label for="repetir">Repetir Contraseña</label>
              </div>
            </div>
            <div class="contenedor-registros">
              <div class="div-inputs-registro">
                <input class="input-registro" type="number" asp-for="Año" placeholder="Año" />
                <label asp-for="Año">Año</label>
                <span asp-validation-for="Año" class="text-danger"></span>
              </div>
              <div class="div-inputs-registro">
                <input class="input-registro" type="number" asp-for="Division" placeholder="Division" />
                <label asp-for="Division">Division</label>
                <span asp-validation-for="Division" class="text-danger"></span>
              </div>
            </div>
            <button class="boton-registro" type="submit">Registrate</button>
          </form>
      </div>
    </section>
  </main>
  <script src="~/js/Login.js"></script>