@model HomeIndexViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true"/>
}

@{
    ViewData["Title"] = "Home Page";
}

<main class="main-login">
    <section class="section">
      <h1>Inicio de sesion</h1>
        <form class="divs-container">
          <div class="div-inputs">
            <input class="input" 
            type="text" name="Nombre" placeholder="Nombre de usuario">
            <label for="Nombre">Nombre</label>
          </div>
          <div class="div-inputs">
            <input class="input" type="email" name="Email" placeholder="Correo electronico">
            <label for="Email">Email</label>
          </div>
          <div class="div-inputs">
            <input class="input" type="password" name="Contraseña" placeholder="Contraseña">
            <label for="Contraseña">Contraseña</label>
          </div>
          <button class="button-login" type="submit">Acceder</button>
        </form>
        <div class="parrafo-login">
          <p class="registrate-malo">¿No tienes una cuenta?</p>
          <p class="registrate">Registrate</p>
        </div>
    </section>
    <!--Registro de usuario -->
    <section class="Registro">
      <div class="Registro-inner">
          <div class="salir-register"><span class="salir"></span></div>
          <h1>Registrate</h1>
          <form class="form-registro">
            <div class="contenedor-registros">
              <div class="div-inputs-registro">
                <input class="input-registro" type="text" name="Nombre" placeholder="Nombre">
                <label for="Nombre">Nombre</label>
              </div>
              <div class="div-inputs-registro">
                <input class="input-registro" type="text" name="Apellido" placeholder="Apellido">
                <label for="Apellido">Apellido</label>
              </div>
            </div>
            <div class="contenedor-registros">
              <div class="div-inputs-registro">
                <input class="input-registro" type="text" name="Email" placeholder="Nombre de usuario">
                <label for="Username">Username</label>
              </div>
              <div class="div-inputs-registro">
                <input class="input-registro" type="email" name="Email" placeholder="Correo electronico">
                <label for="Email">Email</label>
              </div>
            </div>
            <div class="contenedor-registros">
              <div class="div-inputs-registro">
                <input class="input-registro" type="password" name="Contraseña" placeholder="Contraseña">
                <label for="Contraseña">Contraseña</label>
              </div>
              <div class="div-inputs-registro">
                <input class="input-registro" type="password" name="Email" placeholder="Repetir Contraseña">
                <label for="Email">Repetir Contraseña</label>
              </div>
            </div>
            <div class="contenedor-registros">
              <div class="div-inputs-registro">
                <input class="input-registro" type="number" name="Division" placeholder="Division">
                <label for="Division">Division</label>
              </div>
              <div class="div-inputs-registro">
                <input class="input-registro" type="number" name="Año" placeholder="Año">
                <label for="Año">Año</label>
              </div>
            </div>
            <button class="boton-registro" type="submit">Registrate</button>
          </form>
      </div>
    </section>
  </main>
  <script src="~/js/Login.js"></script>