
body{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr;
    grid-template-areas: 
    "header"
    "main";
  }
  
  header{
    grid-area: header;
  }
  
  main{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px;
  }