*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .header{
    border-bottom:2px solid rgb(100, 100, 196) ;
  }
  
  nav{
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .logo{
    font-size: 20px;
    color: rgb(100, 100, 196);
    margin-left: 15px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
  }
  .container-logo{
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    
  }
  
  .container-icons{
    width: 50%;
    height: 100%;
  }
  
  .container-pages{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    height: 100%;
    text-align: center;
  }
  
  .container-pages a {
    width: 114px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
    height: 100%;
    color: rgb(121, 121, 128);
    font-weight: 600;
    transition: border-right .2s ,border-left .2s;
  }
  
  
  .container-pages a:hover{
    border-right: 2px solid rgb(100, 100, 196);
    border-left: 2px solid rgb(100, 100, 196);
  }
  body{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr;
    grid-template-areas: 
    "header"
    "main";
  }
  
  header{
    grid-area: header;
  }
  
  main{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  /*Login */
  .section {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border: 2px solid #d7d7d7;
    border-radius: 20px;
    padding: 10px;
    transition: border-radius 0.8s ease, border-right 0.8s ease, border 0.8s ease;
  }
  
  .section h1{
    font-size: 20px;
    color: rgb(100, 100, 196);
  }
  

  /*Formulario Login*/
  .divs-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /*input registro*/
  
  .input{
    height: 40px;
    width: 200px;
    border-radius: 20px;
    outline: none;
    border: 2px #d7d7d7 solid;
    padding-left: 20px;
    margin: 4px;
    transition: border .5s ease-in-out ;
  }
  
  .div-inputs{
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
  }
  
  .div-inputs label{
    position: absolute;
    font-size: 11px;
    left: 10px;
    visibility: hidden;
  }
  
  .button-login{
    font-size: 16px;
    height: 30px;
    width: 80px;
    margin-top: 35px;
    background-color: rgb(100, 100, 196);
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    transition: scale .4s ease-in;
  }
  
  .button-login:hover{
    scale: 1.10;
  }
  
  .parrafo-login{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    color: rgb(121, 121, 128);
  }
  
  .registrate{
    transition: color .3s ease-in;
  }
  
  .registrate:hover{
    color: rgb(100, 100, 196);
    cursor: pointer;
  }
  
  
  .input::placeholder {
    transition: color .5s ease-in-out;
  }
  
  /* Estilo del placeholder cuando el input está en focus */
  .input:focus::placeholder {
    color: rgb(100, 100, 196); /* Cambia el color del placeholder en focus */
  }
  
  .input:focus{
    border: 2px solid rgb(100, 100, 196);
  }
  
  /*Registro de la pagina*/
  
  
  .Registro {
    width: 0;
    height: 400px;
    background-color: rgb(100, 100, 196);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    transition: width 0.8s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Registro-inner {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s ease-in;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  .Registro.visible {
    width: 500px; /* O el ancho que desees */
  }
  
  .Registro.visible .Registro-inner {
    opacity: 1;
    visibility: visible;
  }
  
  .form-registro {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .contenedor-registros {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .div-inputs-registro {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
  }
  
  .div-inputs-registro label {
    position: absolute;
    font-size: 11px;
    left: 10px;
    visibility: hidden;
  }
  
  /*Inputs de los Registros*/
  .input-registro {
    height: 40px;
    width: 200px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding-left: 20px;
    margin: 4px;
    background-color: rgb(113, 113, 220);
    color: white;
    transition: border .5s ease-in-out;
    border: 2px solid rgb(98, 98, 192);
  }
  
.input-registro:focus{
    border: 2px white solid;
}

.input-registro::placeholder {
    color: white;
}
  
  .boton-registro{
    font-size: 16px;
    margin-top: 20px;
    background-color: white;
    color: rgb(113, 113, 220);
    border: none;
    outline: none;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    transition: scale .4s ease-in;
  }
  
  .boton-registro:hover{
    scale: 1.10;
  }
  