@{
    ViewData["Title"] = "Evento";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Evento.css" asp-append-version="true" />
}

<aside class="aside-evento">
    <div class="aside-content">
      <h1>Filtrar</h1>
      <div class="div-input">
        <input class="buscar-input" name="Buscar" type="search" placeholder="Buscar evento">
        <label for="Buscar">Buscar</label>
      </div>
    </div>
    <div class="border-aside"></div>
</aside>
<main class="main-evento">
  <!--Evento card-->
    <div class="event-content">
      <div class="image-container">
       <img class="image-event" src="" alt="">
      </div>
      <div class="description-event">
        <p>Lorem, ipsum dolor sit amet 
          consectetur adipisicing elit. At a, voluptas quas consectetur fuga animi  
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil reiciendis totam iure exercitationem dolore, 
          quo nostrum unde? Eaque, error voluptate non sed ea eius quas reprehenderit, atque,
        </p>
        <p class="fecha-evento">Fecha del evento: 20-09-2024</p>
      </div>
    </div>
    <!--Evento card-->
    <div class="event-content">
      <div class="image-container">
       <img class="image-event" src="" alt="">
      </div>
      <div class="description-event">
        <p>Lorem, ipsum dolor sit amet 
          consectetur adipisicing elit. At a, voluptas quas consectetur fuga animi  
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil reiciendis totam iure exercitationem dolore, 
          quo nostrum unde? Eaque, error voluptate non sed ea eius quas reprehenderit, atque,
        </p>
        <p class="fecha-evento">Fecha del evento: 20-09-2024</p>
      </div>
    </div>
    <div class="event-content">
      <div class="image-container">
       <img class="image-event" src="" alt="">
      </div>
      <div class="description-event">
        <p>Lorem, ipsum dolor sit amet 
          consectetur adipisicing elit. At a, voluptas quas consectetur fuga animi  
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil reiciendis totam iure exercitationem dolore, 
          quo nostrum unde? Eaque, error voluptate non sed ea eius quas reprehenderit, atque,
        </p>
        <p class="fecha-evento">Fecha del evento: 20-09-2024</p>
      </div>
    </div>
    
    
</main>
<script src="../js/Evento.js"></script>