#main{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.estudiantes{
    font-size: 20px;
    color: black;
}

.containers{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 164, 162);
    padding: 5px;
}

.contenido{
    border-radius: 20px;
    height: 80%;
    width: 70%;
    background-color: rgb(197, 196, 193);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: scroll;
}

.img-est{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px black solid;
}

.anio{
    display: flex;
    color: black;
    text-align: center;
}