html {
  scroll-behavior: smooth;
}

body{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-rows: 10vh 1fr;
  grid-template-areas: 
  "header header"
  "aside main";
}

header{
  position: sticky;
  grid-area: header;
  top: 0;
  background-color: white;
  z-index: 10;
}

.aside-evento{
    grid-area: aside;
    position: sticky;
    top: 0;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-content{
  height: 100%;
  width: 99%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.aside-content h1{
  font-size: 40px;
  margin-top: 20px;
  color: rgb(100, 100, 196);
}

.div-input {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.div-input label {
  position: absolute;
  font-size: 12px;
  top: 14px;
  left: 10px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  pointer-events: none; /* Evita que el label interfiera con el input */
}

.div-input input {
  margin-top: 30px;
  height: 40px;
  width: 200px;
  border-radius: 20px;
  transition: border 0.5s ease-in-out;
  outline: none;
  border: 2px solid #d7d7d7;
  padding-left: 10px;
}

/* Cambia el estilo del borde cuando el input está en foco */
.div-input input:focus {
  border-color: rgb(100, 100, 196);
}

/* Cuando el input tiene contenido o está en foco, se mueve el label */
.div-input input:focus + label,
.div-input input:not(:placeholder-shown) + label {
  font-weight: 700;
  background-color: white;
  top: 21px;
  opacity: 1;
  font-size: 0.9em;
  color: rgb(100, 100, 196);
}

.div-input input:focus ::placeholder {
  color: #d7d7d7; /* Esconde el texto del placeholder */
  transition: color .5s ease-in-out;
}
.div-input input:focus::placeholder {
  color: rgba(100, 100, 196, 0.5); /* Cambiar el color del placeholder al enfocar */
}



.border-aside{
    border: 1px solid rgb(100, 100, 196);
    height: 90%;
    transition: height .4s ease-out;
}


.main-evento{
  padding-bottom: 100px;
  grid-area: main;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
}


.event-content {
  margin-top: 15px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "image description";
  border: 2px solid #d7d7d7;
  height: 200px;
  width: 800px;
  border-radius: 20px;
  transition: all 0.4s ease; /* Añadimos transición al contenedor */
  will-change: translate, scale, opacity; /* Usamos will-change en transform y opacity */
}

.image-container {
  grid-area: image;
  border-right: 2px solid #d7d7d7;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease; /* Añadimos transición a la imagen */
}

/* Aplica los estilos al hacer hover en event-content */
.event-content:hover {
  border-color: rgb(100, 100, 196); /* Cambia el borde del contenedor */
  transform: scale(1.01); /* Aumenta ligeramente el tamaño del contenedor */
  cursor: pointer;
  box-shadow: 7px 0 15px 5px rgba(100, 100, 196, 0.39);
}

/* Aplica los estilos al hijo image-container cuando se hace hover en event-content */
.event-content:hover .image-container {
  border-color: rgb(100, 100, 196); /* Cambia el borde de la imagen */
}

.event-content:hover .description-event {
  transform: scale(1.01); /* Aumenta el tamaño de la imagen */
  color: rgb(71, 71, 138);
}


.image-event{
  border: none;
  height: 180px;
  width: 180px;
  background-color: brown;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-event{
  grid-area: description;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 65% 10%;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  padding: 0px 18px;
  transition: all .5s ease;
}

.titulo-evento{
  margin-top: 10px;
  text-align: center;
  color: rgb(100, 100, 196);
  text-decoration: none;
}

.descripcion{
  margin-top: 10px;
  text-align: center;
  color: rgb(121, 121, 121);
}

.fecha-evento{
  text-align: end;
  color: rgb(100, 100, 196);
  margin-bottom: 10px;
}

@keyframes revelar {
  from
  {
    opacity: 0;
    translate: 0 100px;/* Iniciar transform */
    scale: .5;
  }
  to {
    opacity: 1;
    translate: 0 0px;
    scale: 1;
  }
}

.event-content.animar {
  animation: revelar .7s linear both;
}

.div-eliminar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.boton-eliminar {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.boton-eliminar:hover {
  background-color: #ff3333;
}