body{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr;
    grid-template-areas: 
    "header"
    "main";
}

header{
    grid-area: header;
}

main{
    grid-area: main;
    display: grid;
    grid-template-columns: 40vw 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "perfil historial";
}

.perfil-section{
    padding: 25px;
    grid-area: perfil;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.perfil-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    border: 2px solid rgb(100, 100, 196);
    border-radius: 20px;
}

.username{
    font-size: 30px;
    color: rgb(121, 121, 128);
}

.image-perfil{
    border: 2px solid black;
    margin-top: 10px;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.info-personal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.nombre-info{
    margin-top: 20px;
    width: 80%;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    color: rgb(121, 121, 128);
    font-weight: bold;
}

.nombre-info div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.morado{
    color: rgb(100, 100, 196);
}
.curso{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.curso-alumno {
    font-size: 40px;
    color: rgb(121, 121, 128);
}

.butons-perfil{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.butons-perfil div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-size: 20px;
}

.butons-perfil div a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 90px;
    height: 40px;
}



.bx{
  margin-left: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: rgb(121, 121, 128);
  cursor: pointer;
  transition: transform 1s ease-in-out, color .6s ease-in-out;
}

.bx:hover{
  color: rgb(100, 100, 196);
  transform: rotate(480deg);
}

.entrar{
    background-color: rgb(100, 100, 196);
    color: white;
    margin-right: 10px;
    transition: all .3s ease;
}

.entrar:hover{
    border: rgb(100, 100, 196) solid 2px;
    background-color: white;
    color: rgb(100, 100, 196);
}

.salir{
    border: rgb(100, 100, 196) 2px solid;
    color: rgb(100, 100, 196);
    transition: all .3s ease;
}

.salir:hover{
    border: none;
    background-color: rgb(100, 100, 196);
    color: white;
}


.Modificar{
    text-decoration: none;
}

.no-cuenta{
    font-size: 20px;
    color: rgb(121, 121, 128);
    font-weight: bold;
}

.button-login{
    margin-top: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: rgb(100, 100, 196);
}

.button-login:hover{
    background-color: rgb(80, 80, 176);
}


.historial-evento{
    margin: 25px;
    height: 93%;
    width: 90%;
    grid-area: historial;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 2px solid rgb(100, 100, 196);
    padding: 10px;
    flex-direction: column;
    border-radius: 20px;
    overflow-y: scroll;
}



.event-content {
    margin-top: 15px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "image description";
    border: 2px solid #d7d7d7;
    height: 200px;
    width: 800px;
    border-radius: 20px;
    transition: all 0.4s ease; /* Añadimos transición al contenedor */
    will-change: translate, scale, opacity; /* Usamos will-change en transform y opacity */
  }
  
  .image-container {
    grid-area: image;
    border-right: 2px solid #d7d7d7;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease; /* Añadimos transición a la imagen */
  }
  
  /* Aplica los estilos al hacer hover en event-content */
  .event-content:hover {
    border-color: rgb(100, 100, 196); /* Cambia el borde del contenedor */
    transform: scale(1.01); /* Aumenta ligeramente el tamaño del contenedor */
    cursor: pointer;
    box-shadow: 7px 0 15px 5px rgba(100, 100, 196, 0.39);
  }
  
  /* Aplica los estilos al hijo image-container cuando se hace hover en event-content */
  .event-content:hover .image-container {
    border-color: rgb(100, 100, 196); /* Cambia el borde de la imagen */
  }
  
  .event-content:hover .description-event {
    transform: scale(1.01); /* Aumenta el tamaño de la imagen */
    color: rgb(71, 71, 138);
  }
  
  
  .image-event{
    border: none;
    height: 180px;
    width: 180px;
    background-color: brown;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .description-event{
    grid-area: description;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 65% 10%;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    padding: 0px 18px;
    transition: all .5s ease;
  }
  
  .titulo-evento{
    margin-top: 10px;
    text-align: center;
    color: rgb(100, 100, 196);
    text-decoration: none;
  }
  
  .descripcion{
    margin-top: 10px;
    text-align: center;
    color: rgb(121, 121, 121);
  }
  
  .fecha-evento{
    text-align: end;
    color: rgb(100, 100, 196);
    margin-bottom: 10px;
  }