body{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr;
    grid-template-areas: 
    "header"
    "main";
}

header{
    grid-area: header;
}

main{
    grid-area: main;
    display: grid;
    grid-template-columns: 40vw 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "perfil historial";
}

.perfil-section{
    padding: 25px;
    grid-area: perfil;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.perfil-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    border: 2px solid rgb(100, 100, 196);
    border-radius: 20px;
}

.username{
    font-size: 30px;
    color: rgb(121, 121, 128);
}

.image-perfil{
    margin-top: 10px;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: salmon;
}

.info-personal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.nombre-info{
    margin-top: 20px;
    width: 80%;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    color: rgb(121, 121, 128);
    font-weight: bold;
}

.nombre-info div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.morado{
    color: rgb(100, 100, 196);
}
.curso{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.curso-alumno {
    font-size: 40px;
    color: rgb(121, 121, 128);
}

.butons-perfil{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.butons-perfil div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-size: 20px;
}

.butons-perfil div a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 90px;
    height: 40px;
}



.bx{
  margin-left: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: rgb(121, 121, 128);
  cursor: pointer;
  transition: transform 1s ease-in-out, color .6s ease-in-out;
}

.bx:hover{
  color: rgb(100, 100, 196);
  transform: rotate(480deg);
}

.entrar{
    background-color: rgb(100, 100, 196);
    color: white;
    margin-right: 10px;
    transition: all .3s ease;
}

.entrar:hover{
    border: rgb(100, 100, 196) solid 2px;
    background-color: white;
    color: rgb(100, 100, 196);
}

.salir{
    border: rgb(100, 100, 196) 2px solid;
    color: rgb(100, 100, 196);
    transition: all .3s ease;
}

.salir:hover{
    border: none;
    background-color: rgb(100, 100, 196);
    color: white;
}

.historia-evento{
    grid-area: historial;
}

.Modificar{
    text-decoration: none;
    
}