@model BackEnd.Models.CrearEventoViewModel
@{
    ViewData["Title"] = "CrearEvento";
}

@section Styles {
    <link rel="stylesheet" href="~/css/CrearEvento.css" asp-append-version="true"/>
}

<main>
        <section class="crear-evento-section">
            <h1>Crear Nuevo Evento</h1>
            <form asp-controller="CrearEvento" asp-action="CrearEvento" method="post" class="crear-evento-form" enctype="multipart/form-data">
                <div class="div-inputs">
                    <input class="input" type="text" asp-for="evento.Nombre" placeholder="Nombre del evento" required>
                    <label class="label-animado" asp-for="evento.Nombre">Nombre</label>
                </div>
                <div class="div-inputs">
                    <input class="input" type="date" asp-for="evento.Fecha" required>
                    <label class="label-animado" asp-for="evento.Fecha">Fecha</label>
                </div>
                <div class="div-inputs">
                    <input class="input" type="text" asp-for="evento.Ubicacion" placeholder="Ubicaci贸n del evento" required>
                    <label class="label-animado" asp-for="evento.Ubicacion">Ubicaci贸n</label>
                </div>
                <div class="div-inputs">
                    <textarea class="input textarea" asp-for="evento.Descripcion" placeholder="Descripci贸n del evento" required></textarea>
                    <label class="label-animado" asp-for="evento.Descripcion">Descripci贸n</label>
                </div>
                <div class="div-inputs">
                    <label class="label-imagen" asp-for="Imagen">Selecciona la imagen</label>
                    <input class="input-file" type="file" asp-for="Imagen">
                    <span asp-validation-for="Imagen"></span>
                </div>
                <button class="button-crear" type="submit">Crear Evento</button>
            </form>
        </section>
</main>