@{
    ViewData["Title"] = "Perfil";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Perfil.css" asp-append-version="true" />
}


 <main>
    <section class="perfil-section">
      <section class="perfil-card">
        <h1 class="username">Username</h1>
        <img class="image-perfil" src="">
        <div class="info-personal">
            <div class="nombre-info">
              <p>ejemplo@gmail.com</p>
              <p>Nombre y apellido</p>
            </div>
            <div class="curso">
              <h1>5-7</h1>
            </div>
            <div class="butons-perfil">
              <img src="" alt="">
              <div>
                <a class="entrar" href="Login.html">Sign in</a>
                <a class="salir" href="Login.html">Sign out</a>
              </div>
            </div>
        </div>
      </section>
    </section>
    <section class="historial-evento">
    </section>
</main>
<script src="../js/Perfil.js"></script>